@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-libre-baskerville: "Libre Baskerville", serif;
  --font-poppins: "Poppins", sans-serif;
  --color-*: initial;
  --color-white: #fff;
  --color-white-light: #f2edeb;
  --color-blue: #4f46e5;
  --color-midnight: #111827;
  --color-midnight-dark: #0d1320;
  --color-gray: #4b5563;
  --color-gray-light: #d1d5db;
  --color-khaki: #7f7c6d;
  --color-red: #ef4444;
  --color-green: #10b981;
  
  
  --color-dark-bg: #1f2937;
  --color-dark-surface: #374151;
  --color-dark-text: #f9fafb;
  --color-dark-text-secondary: #d1d5db;
  --color-dark-border: #4b5563;
}

.dark {
  --color-white: #1f2937;
  --color-midnight: #f9fafb;
  --color-gray: #d1d5db;
  --color-gray-light: #374151;
}






 